.DropCategory__container{
        position: absolute;
        height: 250px;
        width: 230px;
         background-color: #fff;
         z-index: 10;
         top:40px;
         left: 0px;
         gap: 20px;
         padding: 10px;
         border-radius: 3px;
         
}
.category__content p{
    font-size: 16px;
    font-family: Inter, san-serif;
    padding: 9px;
    color: black;
 
}