.Signup__container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    font-family: Inter, san-serif;
    font-weight: 300;
    
}
.column h2{
    text-align: center;
}

   