.Cities__container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 40px;
    gap: 3px;
    
}
.column__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 66px;
    align-self: stretch

}
.first__column, .second__column{
    display: flex;
    width: 100%;
    height: 100px;
    

}
.column__content{
    display: flex;
    width: 268px;
    gap: 23px;
    align-items: center;
}
.column__content img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.cities__text{
    display: flex;
    flex-direction: column;
   font-size: 16px;
    align-items: center;
    font-family: Figtree;
}
.cities__text h5{
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
     line-height: 28px;
}

