.eventSection{
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    background-color: #fdfdfd;
    padding: 40px;
     display: flex;
    /* align-items: center;  */
    flex-direction: column; 
     /* z-index: 40; 
    top: 40px;
    left: 0px;
    margin: -40px; */ 
}

.title{
    padding: 20px;
    font-size: 25px;
    font-family: Inter;
}
hr{
    width: 80px;
    border: 5px solid blue;

}
.eventDetails{
    width: 26%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 20px; */
    gap: 10px;
    box-shadow: #fdfdfd;
    background-color: #fff;
    border-radius: 20px;
} 
.eventDetails:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}
.eventimage{
    width: 300px;
    object-fit: cover;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.eventDetails h5{
    font-size: 20px;
    padding: 10px;
   
   
}
.day{
    display: flex;
    gap: 20px;
    padding: 10px;
    
    
}
.location{
    display: flex;
    gap: 20px;
    padding: 10px;
    
    
}

.eventDetails__container{
    display: flex;
    gap: 30px;
   
}
.ticket{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;

}
.ticket__content{
    display: flex;

}
.share{
    border-radius: 50px;
    background-color: #e5e0e0;
    width: 30px;
    height: 30px;
}

@media screen and (width < 720px){
    .eventDetails__container{
        display: block;   
    }
    .eventDetails{
        max-width: 720px;

        

    }

}